<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome Page!</title>
    <style media="screen">
      /*.button {
        border: 2px solid black;
      }*/
    </style>
  </head>
  <body>
    <h1>You are logged in to your account! </h1>
    <br>
    <h2>You are now done here.. congratulations on remembering your password..</h2>

    <br>
    <div class="button">
    <button type="button" name="button"><a href="/"> LogOut </a></button>

    </div>

    <!-- <script type="text/javascript">
    <button onclick="window.location.href='/login'">Continue</button>
    </script> -->
  </body>
</html>
